<a href="https://colab.research.google.com/github/hws2002/Master-Python-with-Just-One-Book-ADP/blob/main/Chapter4/Data_Preprocessing_4_data_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

iris_load = load_iris()
iris = pd.DataFrame(iris_load.data, columns = iris_load.feature_names)
iris['Class'] = iris_load.target
iris['Class'] = iris['Class'].map({0:'Setosa', 1 : 'Versicolor', 2 : 'Virginica'})

In [2]:
X_train, X_test, y_train, y_test = train_test_split(iris.drop(columns = 'Class'), iris['Class'], test_size = 0.2, random_state=1004)

In [3]:
print('X_train : ',X_train.shape, 'X_test : ',X_test.shape)
print('y_train : ',y_train.shape, 'y_test : ',y_test.shape)

X_train :  (120, 4) X_test :  (30, 4)
y_train :  (120,) y_test :  (30,)

In [4]:
X_train.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
87                 6.3               2.3                4.4               1.3
67                 5.8               2.7                4.1               1.0
131                7.9               3.8                6.4               2.0

In [5]:
y_train.head(3)

87     Versicolor
67     Versicolor
131     Virginica
Name: Class, dtype: object

In [6]:
iris['Class'].value_counts()

Class
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [7]:
y_train.value_counts()

Class
Versicolor    41
Setosa        40
Virginica     39
Name: count, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(iris.drop(columns = 'Class'), iris['Class'],
                                                    test_size = 0.2, random_state=1004,
                                                    stratify=iris['Class'])

In [13]:
y_train.value_counts()

Class
Versicolor    40
Virginica     40
Setosa        40
Name: count, dtype: int64